[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/apriltag"]
	path = libs/apriltag
	url = https://github.com/tgRobotics/apriltag.git
	branch = fixPullRequestLibraryName
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
